{% extends 'base.html.twig' %}
{% block title %}Dini Maak!{% endblock %}

{% block body %}

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue à Dini Maak !!</h1>
        <p class="lead">Découvrez une solution pratique et économique pour vos trajets. Notre plateforme de covoiturage met en relation conducteurs et passagers partageant un même itinéraire. Réduisez vos frais de transport, contribuez à préserver l'environnement et créez de nouvelles connexions. Rejoignez notre communauté de covoitureurs dès aujourd'hui!</p>
        <hr class="my-4">
        <p>Pour commencer ,Rendez-vous sur la page d'inscription pour utiliser l'application</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
        </p>
    </div>    
</div>
{% endblock %}